/*共通フォントカラー*/
$font-color: rgba(0,0,0,0.8);
/*共通フォントファミリー*/
$font-family: "Hiragino Kaku Gothic ProN","Hiragino Sans","Noto Sans JP",sans-serif;
/*PC タイトル フォントサイズ 16px*/
$pc-fontSize: 16em;
/*タブレット テキスト フォントサイズ 16px*/
$tb-fontSize: 14px;
/*スマホ テキスト フォントサイズ 16px*/
$sp-fontSize: 12px;
/*PC テキスト フォントサイズ 16px*/
$pc-fontSize: 16em;
/*タブレット テキスト フォントサイズ 16px*/
$tb-fontSize: 14px;
/*スマホ テキスト フォントサイズ 16px*/
$sp-fontSize: 12px;
/*コンテンツ幅*/
$max-width: 1280px;
/*セクション縦幅*/
$section-marginTop: 80px;
/*セクション内コンテンツパディング*/
$padding-left: 20px;
$padding-right: 20px;
/*ホバー時透明度*/
$hover-opacity: 0.5;
/*背景色① アイスブルー*/
$bg-color1: #f0f8ff;
/*背景色② アズール*/
$bg-color2: #F0FFFF;
/*背景色③ ライトシアン*/
$bg-color3: #E0FFFF;
/*背景色④ 白*/
$bg-color4: #ffffff;
/*背景色⑤ ホワイトスモーク*/
$bg-color5: #f5f5f5